body {
    background: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0 0 0 0;
}

.nav>li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav>li>a {
    text-decoration: none;
    color: #333333;
}

.wrapper {
    max-width: 1110px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.header {
    background: #FFF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: #66C05D;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo_image {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(./img/slogo.png);
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    border: solid 2px #66C05D;
    background: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    cursor: pointer;
}

.header-bottom {
    padding: 15px 0;
}

.header-bottom.nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url(./img/table.png);
    background-repeat: no-repeat;
    padding: 100px 0 100px 0;
    background-size: cover;
    background-position: center center;
    color: #FFF;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.banner p {
    margin-bottom: 50px;
    max-width: 315px;
}

.btn {
    color: #FFF;
    text-decoration: none;
    border-radius: 20px;
    border: solid 2px #ffffff;
    background: transparent;
    padding: 10px 25px;
}